$carousel-indicators-bottom: -40px;
$carousel-indicators-size: 15px;

$color-default: #010080;// azul
$color-primary: #00B700;// verde
$color-secondary: #FEED01;// amarillo
$color-third: #007500;// verde oscuro
$color-fourth: #009DE0;// celeste

$color-white: #ffffff;
$color-black: #000000;

$navbar-header-top-height: 80px;
$navbar-header-top-margin: 25px;

$activeColor: $color-secondary;

$image-bg: $color-secondary;
$figcaption-bg: $color-secondary;