<ol class="breadcrumb">
    <li><a href="#">Inicio</a></li>
    <li>Noticias</li>
</ol>
<div class="alert alert-dismissible" ng-class="{'alert-success': message.code === 200, 'alert-danger': message.code !== 200 }" role="alert" ng-show="message.code !== undefined">
    <button type="button" class="close" ng-click="message.code = undefined" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{ message.message }} 
</div>
<h2>Noticias</h2>
<hr>
<div class="row">
    <div class="col-sm-10 col-sm-offset-1"> 
        <button type="button" class="btn btn-primary" ng-click="showNoticiasAdd($event)"><span class="glyphicon glyphicon-plus"></span> Nuevo Noticia</button>
        <div class="radio">
            <label>
                <input type="radio" ng-model="search.estado_id" value=""> 
                Todos
            </label>
            <label>
                <input type="radio" ng-model="search.estado_id" value="1"> 
                Activos
            </label>
            <label>
                <input type="radio" ng-model="search.estado_id" value="2"> 
                Inactivos
            </label>
        </div>
        <treecontrol class="tree-classic"
            tree-model="categories"
            options="treeOptions"
            on-selection="showCategoriesEdit(node)"
            selected-node="node1">
            {{ node.id }}: {{ node.descripcion }}
        </treecontrol>
    </div>
</div>