<ol class="breadcrumb">
    <li><a href="#">Inicio</a></li>
    <li>Categorías</li>
</ol>
<div class="alert alert-dismissible" ng-class="{'alert-success': message.code === 200, 'alert-danger': message.code !== 200 }" role="alert" ng-show="message.code !== undefined">
    <button type="button" class="close" ng-click="message.code = undefined" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{ message.message }} 
</div>
<h2>Categorías</h2>
<hr>
<div class="row">
    <div class="col-sm-10 col-sm-offset-1"> 
        <button type="button" class="btn btn-primary" ng-click="showCategoriesAdd($event)"><span class="glyphicon glyphicon-plus"></span> Nueva Categoría</button>
        <br>
        <br>
        <h4 ng-hide="!loading">Cargando...</h4>
        <h4 ng-show="!loading && categories.length === 0">No se encontraron categorías</h4>
        <treecontrol ng-hide="loading" class="tree-classic"
            tree-model="categories"
            options="treeOptions"
            on-selection="showCategoriesEdit(node)"
            selected-node="node1">
            {{ node.id }}: {{ node.descripcion }}
        </treecontrol>
    </div>
</div>