<form novalidate angular-validator angular-validator-submit="saveLink(link, 'btnSaveLink', imagenPreview)" name="LinksAdd">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Nuevo Link</h4>
    </div>
    <div class="modal-body modal-body-overflow">
        <div class="form-group">
            <label for="txtDescripcion">Descripción</label>
            <input id="txtDescripcion" class="form-control" type="text" ng-model="link.descripcion" 
                name="linkDescripcion" required required-message="'Este campo es requerido'" validate-on="blur" />
        </div>
        <div class="form-group">
            <label for="urlUrl">URL</label>
            <input id="urlUrl" class="form-control" type="url" ng-model="link.url" 
                name="linkUrl" invalid-message="'Este campo debe contener una dirección url válida'" />
        </div>
        <div class="form-group">
            <label for="flImagen">Imagen</label>
            <input id="flImagen" type="file" class="form-control" ngf-select="previewImagen($file, $invalidFiles)" 
                accept="image/*" ngf-max-height="15000" ngf-max-size="10MB" name="productoImagen" />
            <img ng-hide="imagenPreview === undefined || imagenPreview === null" class="img-responsive" ng-src="{{tmpPath + '/' + imagenPreview}}" alt="imagen previa" >
            <span ng-hide="imagenPreview === undefined || imagenPreview === null">Imagen cargada correctamente</span>
            <span ng-show="loadingPortada">Cargando...</span>
            <span ng-show="!loading && loadingPortada === null">No fue posible cargar la Portada</span>
        </div>
        <div class="form-group">
            <label for="sltUbicacion">Ubicación</label>
            <select id="sltUbicacion" ng-options="ubicacion for ubicacion in ubicaciones" class="form-control" ng-model="link.ubicacion" 
                name="linkUbicacion" required required-message="'Este campo es requerido'" validate-on="blur">
                <option value="">Seleccionr uno</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cerrar</button>
        <button id="btnSaveLink" class="btn btn-success" type="submit">Guardar Producto</button>
    </div>
</form>